In [129]:
import pandas as pd
moviez=pd.read_csv('imdb_1000.csv')

In [2]:
moviez.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

## Question 1

### a)

In [4]:
moviez.shape

(979, 6)

In [6]:
len(moviez[moviez.content_rating.isnull()])

3

### b)

In [56]:
moviez.isnull().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

### c)

In [51]:
moviez.content_rating.unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

### d)

In [26]:
moviez[moviez.content_rating.isnull()]

,star_rating,title,content_rating,genre,duration,actors_list
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"

In [132]:
len(movies[ moviez.content_rating.isnull()])

3

### e)

In [57]:
moviez[moviez.star_rating>9]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [58]:
len(moviez[moviez.star_rating>9])

3

## Question 2

In [84]:
drinks=pd.read_csv('drinks.csv')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
import pandas as pd
drinks=pd.read_csv('drinks.csv')
drink5=drinks.copy()

In [25]:
drink5['beer_servingsWITHspirit_servings']=drink5.beer_servings + drink5.spirit_servings

In [29]:
drink5.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,beer_servingsWITHspirit_servings
0,Afghanistan,0,0,0,0.0,Asia,0
1,Albania,89,132,54,4.9,Europe,221
2,Algeria,25,0,14,0.7,Africa,25
3,Andorra,245,138,312,12.4,Europe,383
4,Angola,217,57,45,5.9,Africa,274

In [91]:

drink6=drink5.copy()
drink6.set_index('country',inplace=True) #drink5.beer_servingsWITHspirit_servings.sort_values(ascending=False,inplace= True)
drink6.beer_servingsWITHspirit_servings.idxmax()

'Grenada'

## Question 3

In [102]:
drinks.head()
drink3=drinks.copy()

drink3.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### *continent with more beer_servings

In [109]:
F=drink3.groupby('continent').sum()
F.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,3258,866,862,159.4
Asia,1630,2677,399,95.5
Europe,8720,5965,6400,387.8
North America,3345,3812,564,137.9
Oceania,1435,935,570,54.1

In [111]:
F.idxmax()

beer_servings                   Europe
spirit_servings                 Europe
wine_servings                   Europe
total_litres_of_pure_alcohol    Europe
dtype: object

# Question 4

In [87]:
drink2=drinks.copy()
drink2.set_index('continent',inplace=True)
drink2.sort_values(by= ['spirit_servings','beer_servings','wine_servings'],ascending=False).groupby('continent').max()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
Africa,Zimbabwe,376,152,233,9.1
Asia,Yemen,247,326,123,11.5
Europe,United Kingdom,361,373,370,14.4
North America,USA,285,438,100,11.9
Oceania,Vanuatu,306,254,212,10.4
South America,Venezuela,333,302,221,8.3

## Question 5

In [2]:
import pandas as pd 
drinks= pd.read_csv('drinks.csv')
drink3=drinks.copy()

In [4]:
drink3.set_index('continent',inplace=True)

In [7]:
drink3.loc['Africa'].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
Africa,Algeria,25,0,14,0.7
Africa,Angola,217,57,45,5.9
Africa,Benin,34,4,13,1.1
Africa,Botswana,173,35,35,5.4
Africa,Burkina Faso,25,7,7,4.3

In [21]:
drink4=drinks.copy()
drink4.set_index('country',inplace=True)
drink4.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [37]:
WestAfrica=drink4.ix[['Burkina Faso','Sierra Leone','Senegal','Nigeria','Guinea','Guinea-Bissau','Ghana',"Cote d'Ivoire",'Benin','Togo','Cabo Verde','Mauritania','Mali','Liberia']]
WestAfrica.total_litres_of_pure_alcohol.idxmin()

C:\Users\KEVYN EDWIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Mauritania'

## Question 6

In [42]:
EastAfrica=drink4.ix[['Rwanda','Uganda','Tanzania','Burundi','Kenya','Burundi']]
EastAfrica.total_litres_of_pure_alcohol.idxmax()

C:\Users\KEVYN EDWIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Uganda'

## Question 7

In [89]:
titanic=pd.read_csv('titanic_train.csv')

In [90]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### average age of survivors

In [92]:
titanic.Age.mean()

29.69911764705882

### most common Pclass

In [112]:
titanic2=titanic.copy()

In [127]:
titanic2.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

### most common sex

In [141]:
titanic2.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

## Question8

In [142]:
titanic2.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

## Question 9

In [146]:
NorthAfrica=drink4.ix[['Algeria','Egypt','Libya','Tunisia','Sudan','Morocco','Mauritania']]

C:\Users\KEVYN EDWIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [169]:
NorthAfrica.sort_values(by='country',ascending=False,inplace=True)
NorthAfrica.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Tunisia,51,3,20,1.3,Africa
Sudan,8,13,0,1.7,Africa
Morocco,12,6,10,0.5,Africa
Mauritania,0,0,0,0.0,Africa
Libya,0,0,0,0.0,Africa

### Answer is Tunisia

## Question 10

In [172]:
SADC=drink4.ix[['Tanzania','Zimbabwe','Angola','Mozambique','Botswana','Zambia','South Africa','Lesotho','DR Congo','Malawi','Swaziland','Mauritius','Madagascar','Seychelles','Namibia']]

C:\Users\KEVYN EDWIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [174]:
SADC.sort_values(by='country',ascending=False,inplace=True)
SADC.head(3)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Zimbabwe,64,18,4,4.7,Africa
Zambia,32,19,4,2.5,Africa
Tanzania,36,6,1,5.7,Africa

### Tanzania

## Question 11

In [7]:
import pandas as pd
ufo=pd.read_csv('ufo.csv')
Ufo=ufo.copy()

In [10]:
ufo.memory_usage(deep=True)
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors Reported    2882 non-null object
Shape Reported     15597 non-null object
State              18241 non-null object
Time               18241 non-null object
dtypes: object(5)
memory usage: 712.6+ KB

In [12]:
Ufo.columns = Ufo.columns.str.replace(' ','_')

In [13]:
Ufo['Shape_Reported']=Ufo.Shape_Reported.astype('category')

In [14]:
Ufo.Shape_Reported.unique()

[TRIANGLE, OTHER, OVAL, DISK, LIGHT, ..., DOME, PYRAMID, CRESCENT, FLARE, HEXAGON]
Length: 28
Categories (27, object): [TRIANGLE, OTHER, OVAL, DISK, ..., PYRAMID, CRESCENT, FLARE, HEXAGON]

In [15]:
Ufo.Shape_Reported.cat.codes.head(10)

0    25
1    18
2    19
3     9
4    17
5     9
6     2
7     9
8     1
9     6
dtype: int8

In [16]:
Ufo.memory_usage(deep= True)

Index                   80
City               1205618
Colors_Reported     671313
Shape_Reported       21224
State              1076219
Time               1307165
dtype: int64

In [17]:
Ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors_Reported    2882 non-null object
Shape_Reported     15597 non-null category
State              18241 non-null object
Time               18241 non-null object
dtypes: category(1), object(4)
memory usage: 589.4+ KB

## Question 12

In [23]:
drinks=pd.read_csv('drinks.csv')
G7=drink4.ix[['France','USA','Japan','Canada','United Kingdom','Italy','Germany']]

C:\Users\KEVYN EDWIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [26]:
G7.head(7)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
France,127,151,370,11.8,Europe
USA,249,158,84,8.7,North America
Japan,77,202,16,7.0,Asia
Canada,240,122,100,8.2,North America
United Kingdom,219,126,195,10.4,Europe
Italy,85,42,237,6.5,Europe
Germany,346,117,175,11.3,Europe

In [30]:
G7.total_litres_of_pure_alcohol.idxmin()

'Italy'

## Question 13

In [36]:
movies=pd.read_csv('imdb_1000.csv')
movies.head(1)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [39]:
movies.content_rating.value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

In [47]:
PercentageContent_rating =(movies.content_rating.value_counts()/movies.content_rating.count())*100

In [48]:
PercentageContent_rating.idxmax()

'R'

In [45]:
PercentageGenre =(movies.genre.value_counts()/movies.genre.count())*100
PercentageGenre.idxmax()

'Drama'

## Question 14

In [50]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [56]:
movies.shape

(979, 6)

In [57]:
(70/100)*979

685.3

In [53]:
train=movies.iloc[0:685]
train.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [62]:
train.shape

(685, 6)

In [55]:
test=movies.iloc[686:979]
test.head()

,star_rating,title,content_rating,genre,duration,actors_list
686,7.7,Minority Report,PG-13,Action,145,"[u'Tom Cruise', u'Colin Farrell', u'Samantha M..."
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."
688,7.7,The Wicker Man,R,Horror,88,"[u'Edward Woodward', u'Christopher Lee', u'Dia..."
689,7.7,Seven Pounds,PG-13,Drama,123,"[u'Will Smith', u'Rosario Dawson', u'Woody Har..."
690,7.7,Midnight Express,R,Biography,121,"[u'Brad Davis', u'Irene Miracle', u'Bo Hopkins']"

In [63]:
test.shape

(293, 6)

## Question 15

In [65]:
Births=pd.read_csv('daily-total-female-births.csv')

In [120]:
Birth2=Births.copy()

In [76]:
Birth2['Date']= Birth2['Date'].apply(pd.to_datetime)

In [77]:
Birth2.head()

        Date  Births
0 1959-01-01      35
1 1959-01-02      32
2 1959-01-03      30
3 1959-01-04      31
4 1959-01-05      44

In [79]:
Birth2['Year']= Birth2.Date.dt.year

In [89]:
Birth2['Month']= Birth2.Date.dt.month

In [81]:
Birth2['Day']= Birth2.Date.dt.weekday_name

In [91]:
Birth2.tail()

          Date  Births  Year  Month        Day
360 1959-12-27      37  1959     12     Sunday
361 1959-12-28      52  1959     12     Monday
362 1959-12-29      48  1959     12    Tuesday
363 1959-12-30      55  1959     12  Wednesday
364 1959-12-31      50  1959     12   Thursday

In [121]:
Birth2.sort_values(by='Births',ascending=False,inplace=True)

In [127]:
Birth2.head(1)

          Date  Births  Year  Month        Day
265 1959-09-23      73  1959      9  Wednesday

# 5

In [ ]:
WestAfrica=['Nigeria','Burkina Faso','Ivory Coast','Niger','Nigeria','Senegal','Ghana','Liberia','Mali','Siera Leone','Togo','Benin','Cape verde','Guinea','Guinea Bissau','Mauritania']